#hero {
  background: linear-gradient(45deg, #4db751, #f9f9f9);
  position: relative;
}

#hero-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20% 30% 50% 30% / 30% 50% 30% 50%;
}

#hero-image::before {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: -2rem;
  top: -1rem;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(75 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%230b59a0%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%234db751%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

#hero-image::after {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: -3rem;
  bottom: -1.5rem;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(75 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%230b59a0%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%234db751%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

#hero-text {
  max-width: 20rem;
}

@media (min-width: 850px) {
  #hero {
    flex-direction: row;
    justify-content: center;
    z-index: -5;
  }
}
