#services {
  background: linear-gradient(135deg, #f9f9f9, #cdebd1, #88f695)
}

.service {
  width: 100%;
  border: 1px solid #0b59a0;
  border-radius: 10px;
}

h3,
h4 {
  color: #0b59a0;
}

h3::after {
  content: "";
  height: 5px;
  width: 12rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  bottom: -10px;
  background: #0b59a0;
  border-radius: 5px;
}

h4::after {
  content: "";
  height: 3px;
  width: 6rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  bottom: -10px;
  background: #0b59a0;
}

@media (min-width: 850px) {
  #services {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  h3 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
