#services {
  background: #f9f9f9;
}

.service {
  width: 100%;
  border: 1px solid #0b59a0;
  border-radius: 10px;
}

h3,
h4 {
  color: #0b59a0;
}

h3::after {
  content: "";
  height: 5px;
  width: 12rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px;
  background: #0b59a0;
  border-radius: 5px;
}

h4::after {
  content: "";
  height: 3px;
  width: 6rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  bottom: -10px;
  background: #0b59a0;
}

@media (min-width: 800px) {
  #services {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
  }

  h3 {
    grid-column: span 4 / span 4 !important;
  }

  .service {
    width: 12rem;
    height: 14rem;
    transition: .25s ease;
    cursor: pointer;
  }

  .service:hover {
    transform: scale(1.1);
  }

  .service:nth-of-type(9) {
    grid-column: 2 / 3;
  }
}
